<li>
    <a href="{% url "course-detail" site.canvas_id %}">
        Course: {{ site }}
    </a>
    <ul>
        <li>Canvas ID: {{ site.canvas_id }}</li>
        <li>Name: {{ site.name }}</li>
        <li>Course code: {{ site.course_code }}</li>
        <li>Workflow state: {{ site.workflow_state }}</li>
        <li>
            Enrollments:
            {% if site.users.all %}
                <ul>
                    {% for user in site.users.all %}
                        <a href="{% url "user-detail" user.canvas_id %}">
                            <li>{{ user }}</li>
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
</li>
