{% url 'user-list' as user_list %}

<li {% if user_list in request.path %} class="py-4" {% endif %}>
    <h3
        {% if user_list not in request.path %}
            class="text-4xl font-medium leading-tight mt-0 mb-2 text-gray-800"
        {% endif %}
    >
        <a href="{% url "user-detail" user.canvas_id %}" class="underline">
            {{ user.full_name }}
        </a>
    </h3>
    <ul class="px-8 py-4">
        <li>First name: {{ user.first_name }}</li>
        <li>Last name: {{ user.last_name }}</li>
        <li>Full name: {{ user.full_name }}</li>
        <li>Sortable name: {{ user.sortable_name }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Penn ID: {{ user.penn_id }}</li>
        <li>Pennkey: {{ user.penn_key }}</li>
        <li>
            Courses:
            {% if user.courses.all %}
                <ul class="px-8">
                    {% for course in user.courses.all %}
                        <a href="{% url "course-detail" course.canvas_id %}" class="underline">
                            <li>{{ course }}</li>
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
</li>
