<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Open Canvas Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Canvas Users</h2>
        <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
        </ul>
        <h2>Canvas Sites</h2>
        <ul>
        {% for site in sites %}
            <li>{{ site }}</li>
        {% endfor %}
        </ul>
    </body>
</html>
