{% url 'user-list' as users %}
{% url 'course-list' as courses %}

<div
    class="sidenav"
>
    <h2 class="text-3xl font-semibold text-gray-800 dark:text-white text-center">
        Open Canvas
    </h2>
    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav>
            <a
                class="navlink
                       {% if request.path == users %}
                       active
                       {% else %}
                       inactive
                       {% endif %}
                       "
                href={{ users }}
            >
                <span class="mx-4 font-medium">Users</span>
            </a>
            <a
                class="
                       navlink
                       {% if request.path == courses %}
                       active
                       {% else %}
                       inactive
                       {% endif %}
                       "
                href={{ courses }}
            >
                <span class="mx-4 font-medium">Courses</span>
            </a>
        </nav>
    </div>
</div>
