[django]
secret_key = # key
debug = # true for development and false for production

[user]
username = # username
password = # password
email = # pennkey@upenn.edu

[canvas]
prod_url = # url
prod_key = # key
test_url = # url
test_key = # key

[open_data]
id = # id
key = # key
domain = # domain

[data_warehouse]
user = # user
password = # password
service = # service name from your tnsnames.ora file

[cx_oracle] # only necessary on macOS to connect to the Data Warehouse (blank section must be present even if not using)
lib_dir = # path/to/instantclient
